Cleanup

In [ ]:
USE SSDTWithtSQLt
GO
DROP PROC IF EXISTS [TestUnitTesting].[test Vessel - Get all Vessels Expect success];
GO

Create test

In [ ]:
USE SSDTWithtSQLt
GO
DROP PROC IF EXISTS [TestUnitTesting].[test Vessel - Get all Vessels Expect success];
GO
CREATE PROC [TestUnitTesting].[test Vessel - Get all Vessels Expect success]
AS
/*  
<documentation>  
  <author>ABM040</author>  
  <summary>Test the proceudre Vessel_GetAll</summary>  
  <returns>nothing</returns>  
</documentation>  
  
Changes:  
Date  Who      Notes  
---------- ---      --------------------------------------------------------------  
20210714 ABM040        Creation  
*/ 
    SET NOCOUNT ON;

    ----- ASSEMBLE -----------------------------------------------

    -- Create the fake table
    EXEC tSQLt.FakeTable @TableName = N'[dbo].[Vessel]',
                         @Identity = 1,
                         @ComputedColumns = 1,
                         @Defaults = 1;

    -- Insert dummy records into table
    INSERT INTO dbo.Vessel
    (
        -- VesselID -- this column value is auto-generated
        VesselCode,
        VesselName,
        TEU,
        Plug,
        OperatorID
    )
    VALUES
    (
        '$$$',
        'De Kai',
        5000,
        100,
        NULL
    )
    ,(
        '000',
        'Kid Joe',
        1000,
        50,
        NULL
    )


    -- Create the tables
    CREATE TABLE #actual
    (
        [VesselID] [INT] NOT NULL,
        [VesselCode] [CHAR](3) NOT NULL,
        [VesselName] [VARCHAR](30) NULL,
        [TEU] [INT] NULL,
        [Plug] [INT] NULL,
        [OperatorID] [INT] NULL,
        [OperatorCode] [CHAR](3) NULL
    );



    -- Get the expected rows
    SELECT v.VesselID
      ,v.VesselCode
      ,v.VesselName
      ,v.TEU
      ,v.Plug
      ,v.OperatorID
      ,o.OperatorCode
    INTO #expected
    FROM dbo.Vessel v
    LEFT JOIN dbo.Operator o on o.OperatorID = v.OperatorID


    ----- ACT ----------------------------------------------------

    -- Execute the procedure
    INSERT INTO #actual
    (
        [VesselID],
        [VesselCode],
        [VesselName],
        [TEU],
        [Plug],
        [OperatorID],
        [OperatorCode]
    )
    EXEC dbo.Vessel_GetAll;


    ----- ASSERT -------------------------------------------------

    -- Assert to have th same table
    EXEC tSQLt.AssertEqualsTable @Expected = '#expected', @Actual = '#actual';
GO

Run the test

In [ ]:
USE SSDTWithtSQLt;
GO
EXEC tSQLt.Run @TestName = N'[TestUnitTesting].[test Vessel - Get all Vessels Expect success]';

Another way to do the test

In [ ]:
USE SSDTWithtSQLt
GO
DROP PROCEDURE IF EXISTS [TestUnitTesting].[test Vessel - Get all Vessels Expect success];
GO
CREATE PROCEDURE [TestUnitTesting].[test Vessel - Get all Vessels Expect success]
AS
/*  
<documentation>  
  <author>ABM040</author>  
  <summary>Test the proceudre Vessel_GetAll</summary>  
  <returns>nothing</returns>  
</documentation>  
  
Changes:  
Date  Who      Notes  
---------- ---      --------------------------------------------------------------  
20210714 ABM040        Creation  
*/ 
    SET NOCOUNT ON;

    ----- ASSEMBLE -----------------------------------------------

    -- Create the fake table
    EXEC tSQLt.FakeTable @TableName = N'[dbo].[Vessel]',
                         @Identity = 1,
                         @ComputedColumns = 1,
                         @Defaults = 1;

    -- Insert dummy records into table
    INSERT INTO dbo.Vessel
    (
        -- VesselID -- this column value is auto-generated
        VesselCode,
        VesselName,
        TEU,
        Plug,
        OperatorID
    )
	VALUES
	(
		'$$$',
		'De Kai',
		5000,
		100,
		NULL
	)
	,(
		'000',
		'Kid Joe',
		1000,
		50,
		NULL
	)


    -- Create the tables
    CREATE TABLE #actual
    (
        [VesselID] [INT] NOT NULL,
        [VesselCode] [CHAR](3) NOT NULL,
        [VesselName] [VARCHAR](30) NULL,
        [TEU] [INT] NULL,
        [Plug] [INT] NULL,
        [OperatorID] [INT] NULL,
        [OperatorCode] [CHAR](3) NULL
    );



    -- Get the expected rows
    SELECT v.VesselID
      ,v.VesselCode
      ,v.VesselName
      ,v.TEU
      ,v.Plug
      ,v.OperatorID
      ,o.OperatorCode
    INTO #expected
    FROM dbo.Vessel v
    LEFT JOIN dbo.Operator o on o.OperatorID = v.OperatorID


    ----- ACT ----------------------------------------------------

    -- Execute the procedure
    INSERT INTO #actual
    (
        [VesselID],
        [VesselCode],
        [VesselName],
        [TEU],
        [Plug],
        [OperatorID],
        [OperatorCode]
    )
    EXEC dbo.Vessel_GetAll;


    ----- ASSERT -------------------------------------------------

    -- Assert the count
    DECLARE @rowcount INT;
    SELECT @rowcount = COUNT(*)
    FROM dbo.Vessel;
    EXEC tSQLt.AssertEquals @Expected = 2, 
                        @Actual = @rowcount,
                        @Message = N'Row count does not match';

GO

Run the test

In [ ]:
USE SSDTWithtSQLt;
GO
EXEC tSQLt.Run @TestName = N'[TestUnitTesting].[test Vessel - Get all Vessels Expect success]';

Let's break it

In [ ]:
USE SSDTWithtSQLt
GO
DROP PROC IF EXISTS [TestUnitTesting].[test Vessel - Get all Vessels Expect success]
GO
CREATE PROC [TestUnitTesting].[test Vessel - Get all Vessels Expect success]
AS
    SET NOCOUNT ON;

    ----- ASSEMBLE -----------------------------------------------

    -- Create the fake table
    EXEC tSQLt.FakeTable @TableName = N'[dbo].[Vessel]',
                         @Identity = 1,
                         @ComputedColumns = 1,
                         @Defaults = 1;

    -- Insert dummy records into table
    INSERT INTO dbo.Vessel
    (
        -- VesselID -- this column value is auto-generated
        VesselCode,
        VesselName,
        TEU,
        Plug,
        OperatorID
    )
	VALUES
	(
		'$$$',
		'De Kai',
		5000,
		100,
		NULL
	)
	,(
		'000',
		'Kid Joe',
		1000,
		50,
		NULL
	)


    -- Create the tables
    CREATE TABLE #actual
    (
        [VesselID] [INT] NOT NULL,
        [VesselCode] [CHAR](3) NOT NULL,
        [VesselName] [VARCHAR](30) NULL,
        [TEU] [INT] NULL,
        [Plug] [INT] NULL,
        [OperatorID] [INT] NULL,
        [OperatorCode] [CHAR](3) NULL
    );



    -- Get the expected rows
    SELECT v.VesselID
      ,v.VesselCode
      ,v.VesselName
      ,v.TEU
      ,v.Plug
      ,v.OperatorID
      ,o.OperatorCode
    INTO #expected
    FROM dbo.Vessel v
    LEFT JOIN dbo.Operator o on o.OperatorID = v.OperatorID


    ----- ACT ----------------------------------------------------

    -- Execute the procedure
    INSERT INTO #actual
    (
        [VesselID],
        [VesselCode],
        [VesselName],
        [TEU],
        [Plug],
        [OperatorID],
        [OperatorCode]
    )
    EXEC dbo.Vessel_GetAll;


    ----- ASSERT -------------------------------------------------

    -- Assert the table

    -- Lets break the test
    DELETE TOP (1) FROM #actual
    EXEC tSQLt.AssertEqualsTable @Expected = '#expected', @Actual = '#actual' -- This will fail because the row is missing
GO

Run the failing test

In [ ]:
USE SSDTWithtSQLt
GO
EXEC tSQLt.Run @TestName = N'[TestUnitTesting].[test Vessel - Get all Vessels Expect success]';

Run all the tests

In [ ]:
USE SSDTWithtSQLt
GO
EXEC tSQLt.RunAll